[package]
name = "nobodywho"
version = "1.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
encoding_rs = "0.8.34"
thiserror = "2.0.3"
minijinja = { version = "2.5.0", features = ["builtins", "json", "loader"] }
serde = { version = "1.0.215", features = ["derive"] }
chrono = "0.4.39"
llama-cpp-sys-2 = { git = "https://github.com/utilityai/llama-cpp-rs.git", branch = "update-llama-cpp-2025-03-17" }
llama-cpp-2 = { git = "https://github.com/utilityai/llama-cpp-rs.git", branch = "update-llama-cpp-2025-03-17" }
lazy_static = "1.5.0"
minijinja-contrib = { version = "2.7.0", features = ["pycompat"] }

[target.'cfg(not(target_os = "macos"))'.dependencies]
llama-cpp-2 = { git = "https://github.com/utilityai/llama-cpp-rs.git", branch = "update-llama-cpp-2025-03-17", features = ["vulkan"] }
