[workspace]
members = [
    "core",
    "godot",
    "flutter/rust",
    "python",
    "gbnf-macro/gbnf",
    "gbnf-macro/gbnf-macro",
    "gbnf-macro/gbnf-core",
]

# edition = "2021" implies resolver = "2".
resolver = "2"
