[workspace]
members = [
    "core",
    "godot",
    "flutter/rust",
    "python",
    "gbnf-macro/gbnf",
    "gbnf-macro/gbnf-macro",
    "gbnf-macro/gbnf-types",
]

# edition = "2021" implies resolver = "2".
resolver = "2"

[profile.release]
debug = true        # Include debug symbols
strip = "none"      # Don't strip symbols from the binary
