name: "Docs"
on:
  workflow_call:
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
      CLOUDFLARE_ACCOUNT_ID:
        required: true
permissions:
  contents: write
  pages: write
  id-token: write
  deployments: write
jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "docs/uv.lock"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "docs/pyproject.toml"

      - name: Install dependencies
        working-directory: ./docs
        run: uv sync

      - name: Build documentation
        working-directory: ./docs
        run: uv run mkdocs build

      - name: "DEBUG: list files in docs/site"
        run: ls -la ./docs/site/

      - name: Deploy to cloudflare pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./docs/site/ --project-name=nobodywho-docs
          # Optional: Enable this if you want to have GitHub Deployments triggered
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
