name: "Build and test"
on:
  push:
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  linting:
    uses: ./.github/workflows/linting.yml
  
  python_ci:
    uses: ./.github/workflows/python_ci.yml
    needs: [linting]

  test-python-publish:
    needs: [python_ci]
    runs-on: ubuntu-latest
    steps:
      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          pattern: nobodywho_python_*
          merge-multiple: true
          path: dist/

      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_AUTH_TOKEN }}


  build:
    uses: ./.github/workflows/build.yml
    with:
      upload_artifacts: true
    needs: [linting]

  test:
    uses: ./.github/workflows/test.yml
    needs: [linting]
    secrets:
      UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
      UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
      UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

  release:
    needs: [build, test]
    uses: ./.github/workflows/release.yml

  docs:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/docs.yml
