name: "Build and test"
on:
  push:
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  linting:
    uses: ./.github/workflows/linting.yml
  
  python_ci:
    uses: ./.github/workflows/python_ci.yml
    needs: [linting]

  build:
    uses: ./.github/workflows/build.yml
    with:
      upload_artifacts: true
    needs: [linting]

  test:
    uses: ./.github/workflows/test.yml
    needs: [linting]
    secrets:
      UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
      UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
      UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

  release:
    needs: [build, test]
    uses: ./.github/workflows/release.yml

  docs:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/docs.yml
