name: "Build and test"
on:
  push:
permissions:
  contents: write
  pages: write
  id-token: write
  deployments: write

jobs:
  linting:
    uses: ./.github/workflows/linting.yml
  
  python_ci:
    uses: ./.github/workflows/python_ci.yml
    needs: [linting]


  build:
    uses: ./.github/workflows/build.yml
    with:
      upload_artifacts: true
    needs: [linting]

  test:
    uses: ./.github/workflows/test.yml
    needs: [linting]
    secrets:
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}

  test-android-env:
    uses: ./.github/workflows/test-android.yml
    needs: [build]
    secrets:
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}

  release:
    needs: [build, test, python_ci]
    uses: ./.github/workflows/release.yml
    secrets: 
      TEST_PYPI_AUTH_TOKEN: ${{ secrets.TEST_PYPI_AUTH_TOKEN }}
      PYPI_AUTH_TOKEN: ${{ secrets.PYPI_AUTH_TOKEN }}

  docs:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/deploy-cloudflare-pages'
    uses: ./.github/workflows/docs.yml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
