name: "python_ci"

on:
  workflow_call

permissions:
  contents: read
  id-token: write  # For PyPI OIDC publishing

jobs:
  linux-build:
    runs-on: ubuntu-24.04
    strategy: 
      fail-fast: false
      matrix:
        profile:
          - "debug"

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - run: pip install maturin auditwheel
      - name: Install distro dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libclang-dev cmake libshaderc-dev libvulkan-dev glslc
      
      - name: Build linux python wheel
        run: maturin build --verbose ${{ matrix.profile == 'release' && '--release' || '' }} --locked 
        working-directory: ./nobodywho/python
      
      - name: Repair wheel to use manylinux
        run: auditwheel repair nobodywho/target/wheels/nobodywhopython*.whl 
     
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: nobodywhopython_linux
          path: ./wheelhouse/nobodywhopython*.whl
        
  windows-build:
    runs-on: windows-latest
    strategy: 
      fail-fast: false
      matrix: 
        target:
          - "x86_64-pc-windows-msvc"
        profile:
          - "debug"
    env:
      RUSTFLAGS: >-
        -l Advapi32
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target }}
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - run: pip install maturin
      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1.2.5
        with:
          vulkan_version: 1.3.296.0
          cache: true
          install_runtime: true
          stripdown: true
      - name: "Build windows python wheel"
        run: |
          mv ./nobodywho/* C:/
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force 
          git config --system core.longpaths true
          cd C:/
          cd python
          maturin build --verbose ${{ matrix.profile == 'release' && '--release' || '' }} --locked --target ${{ matrix.target }}
      - name: "Upload wheel artifact"
        uses: actions/upload-artifact@v4
        with:
          name: nobodywhopython_windows
          path: C:/target/wheels/nobodywhopython*.whl


  mac-os-build:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        profile:
         # - "release"
         - "debug"
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - run: brew install maturin
      - name: "Build macos python wheel"
        run: maturin build --verbose ${{ matrix.profile == 'release' && '--release' || '' }} --locked --target aarch64-apple-darwin
        working-directory: ./nobodywho/python
      
      - name: "Upload build artifact"
        uses: actions/upload-artifact@v4
        with:
          name: nobodywhopython_macos
          path: ./nobodywho/target/wheels/nobodywhopython*.whl
      
  


  linux-pip-install-test:
    needs: [linux-build]
    runs-on: ubuntu-24.04
    strategy: 
      fail-fast: false
      matrix:
        model: [Qwen, Gemma]
        include: 
          - model: Qwen
            model_name: Qwen3-0.6B-UD-Q6_K_XL.gguf
            model_iterations: 10
            model_link: https://huggingface.co/unsloth/Qwen3-0.6B-GGUF/resolve/main/Qwen3-0.6B-UD-Q6_K_XL.gguf
          - model: Gemma
            model_name: google_gemma-3-4b-it-Q4_1.gguf
            model_iterations: 10
            model_link: https://huggingface.co/bartowski/google_gemma-3-4b-it-GGUF/resolve/main/google_gemma-3-4b-it-Q4_1.gguf 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: "Install distro dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install -y libclang-dev cmake libshaderc-dev libvulkan-dev glslc
      - name: "Download wheel"
        uses: actions/download-artifact@v4
      
      - name: Install wheel
        run: |
          python3 -m venv maturinvenv
          source ./maturinvenv/bin/activate
          pip install nobodywhopython_linux/nobodywhopython*manylinux*x86*.whl

      - name: Download models
        run: |
          mkdir -p linux/nobodypython/models
          curl -L --fail --progress-bar ${{ matrix.model_link }} -o linux/nobodypython/models/${{ matrix.model_name }}

      - name: Run small model in python
        run: |
          source ./maturinvenv/bin/activate
          #python nobodywho/python/small_model_test.py "linux/nobodypython/models/${{ matrix.model_name }}"
          chmod +x nobodywho/python/test_reliability.sh
          bash nobodywho/python/test_reliability.sh -n ${{ matrix.model_iterations }} nobodywho/python/small_model_test.py "linux/nobodypython/models/${{ matrix.model_name }}"
          
      


  windows-pip-install-test:
    runs-on: windows-latest
    needs: [windows-build]
    strategy: 
      fail-fast: false
      matrix:
        model: [Qwen, Gemma]
        include: 
          - model: Qwen
            model_name: Qwen3-0.6B-UD-Q6_K_XL.gguf
            model_iterations: 10
            model_link: https://huggingface.co/unsloth/Qwen3-0.6B-GGUF/resolve/main/Qwen3-0.6B-UD-Q6_K_XL.gguf
          - model: Gemma
            model_name: google_gemma-3-4b-it-Q4_1.gguf
            model_iterations: 10
            model_link: https://huggingface.co/bartowski/google_gemma-3-4b-it-GGUF/resolve/main/google_gemma-3-4b-it-Q4_1.gguf 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1.2.5
        with:
          vulkan_version: 1.3.296.0
          cache: true
          install_runtime: 
      - name: "Download wheel"
        uses: actions/download-artifact@v4
      - name: Install wheel
        run: |
          python -m venv maturinvenv
          maturinvenv/Scripts/activate
          pip install D:/a/nobodywho/nobodywho/nobodywhopython_windows/nobodywhopython-0.1.0-cp38-abi3-win_amd64.whl

      - name: Download models
        run: |
          mkdir -p D:/a/nobodywho/nobodywho/windows/nobodywhopython/models
          pip install -U "huggingface_hub"
          Invoke-WebRequest ${{ matrix.model_link }} -OutFile "D:/a/nobodywho/nobodywho/windows/nobodywhopython/models/${{ matrix.model_name}}"

      - name: Run small model in python
        run: |
          maturinvenv/Scripts/activate
          #python D:/a/nobodywho/nobodywho/nobodywho/python/small_model_test.py "D:/a/nobodywho/nobodywho/windows/nobodywhopython/models/${{ matrix.model_name }}"
          ./nobodywho/python/test_reliability.ps1 -ScriptPath "D:/a/nobodywho/nobodywho/nobodywho/python/small_model_test.py" -Iterations ${{ matrix.model_iterations }} "D:/a/nobodywho/nobodywho/windows/nobodywhopython/models/${{ matrix.model_name }}"

          

  mac-os-pip-install-test:
    needs: [mac-os-build]
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        model: [Gemma]
        include: 

          - model: Gemma
            model_name: google_gemma-3-4b-it-Q4_1.gguf
            model_iterations: 10
            model_link: https://huggingface.co/bartowski/google_gemma-3-4b-it-GGUF/resolve/main/google_gemma-3-4b-it-Q4_1.gguf
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      
      - name: "Download wheel"
        uses: actions/download-artifact@v4
      
      - name: Install wheel
        run: |
          python3 -m venv maturinvenv
          source ./maturinvenv/bin/activate
          pip install nobodywhopython_macos/nobodywhopython*macosx*.whl
      

      - name: Download models
        run: |
          mkdir -p macos/nobodypython/models
          curl -L --fail --progress-bar ${{ matrix.model_link }} -o macos/nobodypython/models/${{ matrix.model_name }}
          
      - name: Run small model in python
        run: |
          source ./maturinvenv/bin/activate
          python -c "import nobodywhopython; print('Import successful')"
          # python nobodywho/python/small_model_test.py "macos/nobodypython/models/${{ matrix.model_name }}" 
          chmod +x nobodywho/python/test_reliability.sh
          bash nobodywho/python/test_reliability.sh -n ${{ matrix.model_iterations }} nobodywho/python/small_model_test.py "macos/nobodypython/models/${{ matrix.model_name }}"
          

  publish-wheels:
    needs: [linux-pip-install-test, windows-pip-install-test, mac-os-pip-install-test]
    runs-on: ubuntu-latest
    if: false
    steps:
      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          pattern: nobodywhopython_*
          merge-multiple: true
          path: dist/

      - name: List wheels to upload
        run: ls -la dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/




      



      
