name: "Release"
on:
  workflow_call:

jobs:
  zip-distributable:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        integration:
          - "godot"
    steps:
        - uses: actions/checkout@v4
  
        - name: "Download all build artifacts"
          uses: actions/download-artifact@v4
          with:
            path: ./artifacts
  
        - name: "Make directory structure for release zip"
          run: |
            mkdir -p nobodywho-release/${{ matrix.integration }}/bin/addons/nobodywho
            # copy in nobodywho libs
            cp ./artifacts/*/*nobodywho-${{ matrix.integration }}* ./nobodywho-release/${{ matrix.integration }}/bin/addons/nobodywho/
            # copy in gdextension metadata
            cp ./nobodywho/godot/nobodywho.gdextension ./nobodywho-release/${{ matrix.integration }}/bin/addons/nobodywho/
            cp ./assets/icon.svg ./nobodywho-release/${{ matrix.integration }}/bin/addons/nobodywho/
        - name: "Upload zipped build artifacts"
          uses: actions/upload-artifact@v4
          with:
            name: nobodywho-${{ matrix.integration }}-all-platforms
            path: ./nobodywho-release/${{ matrix.integration }}

  create-github-release:
    needs: [zip-distributable]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        integration:
          - "godot"
    steps:
      - name: "Download build artifacts"
        uses: actions/download-artifact@v4
        with:
          name: nobodywho-${{ matrix.integration }}-all-platforms
          path: ./nobodywho-release/${{ matrix.integration }}

      - name: "Make zip file"
        working-directory: ./nobodywho-${{ matrix.integration }}-release
        run: zip -r "../nobodywho-${{ matrix.integration }}-${{ github.ref_name }}.zip" ./**

      - name: "Create GitHub Release"
        uses: softprops/action-gh-release@v1
        with:
          files: "./nobodywho-${{ github.ref_name }}.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
