name: "Release"
on:
  workflow_call:

jobs:
  godot-distributable:
    runs-on: ubuntu-24.04
    steps:
        - uses: actions/checkout@v4
  
        - name: "Download all build artifacts"
          uses: actions/download-artifact@v4
          with:
            path: ./artifacts
  
        - name: "Make directory structure for release zip"
          run: |
            mkdir -p nobodywho-release/bin/addons/nobodywho
            # copy in nobodywho libs
            cp ./artifacts/*/*nobodywho-godot* ./nobodywho-release/bin/addons/nobodywho/
            # copy in gdextension metadata
            cp ./nobodywho/godot/nobodywho.gdextension ./nobodywho-release/bin/addons/nobodywho/
            cp ./assets/icon.svg ./nobodywho-release/bin/addons/nobodywho/
        - name: "Upload zipped godot build artifacts"
          uses: actions/upload-artifact@v4
          with:
            name: nobodywho-godot-all-platforms
            path: ./nobodywho-release

  unity-distributable:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Create Unity package output directory
        run: mkdir -p ./nobodywho-release/

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Prepare Unity package
        run: | 
          # copy the all (integration:platform:profile) where integration is unity and platform is any and profile is releasiles to the package directory
          # so we end with a structure like this:
          # Runtime/
          #   Plugins/
          #     "x86_64-unknown-linux-gnu"/
          #       libnobodywho_unity.so
          #       libnobodywho_unity.so.meta
          #     "x86_64-apple-darwin"/
          #       libnobodywho_unity.dylib
          #       libnobodywho_unity.dylib.meta
          #     "aarch64-apple-darwin"/
          #       libnobodywho_unity.dylib
          #       libnobodywho_unity.dylib.meta
          #     "x86_64-pc-windows-msvc"/
          #       nobodywho_unity.dll
          #       nobodywho_unity.pdb
          
          mv ./artifacts/nobodywho-unity-x86_64-unknown-linux-gnu-release/nobodywho-unity-x86_64-unknown-linux-gnu-release.so ./nobodywho/unity/src/Runtime/Plugins/x86_64-unknown-linux-gnu/libnobodywho_unity.so
          
          mv ./artifacts/nobodywho-unity-x86_64-apple-darwin-release/nobodywho-unity-x86_64-apple-darwin-release.dylib ./nobodywho/unity/src/Runtime/Plugins/x86_64-apple-darwin/libnobodywho_unity.dylib
          mv ./artifacts/nobodywho-unity-aarch64-apple-darwin-release/nobodywho-unity-aarch64-apple-darwin-release.dylib ./nobodywho/unity/src/Runtime/Plugins/aarch64-apple-darwin/libnobodywho_unity.dylib

          # copy .pdb for windows as well
          mv ./artifacts/nobodywho-unity-x86_64-pc-windows-msvc-release/nobodywho-unity-x86_64-pc-windows-msvc-release.dll ./nobodywho/unity/src/Runtime/Plugins/x86_64-pc-windows-msvc/nobodywho_unity.dll
          mv ./artifacts/nobodywho-unity-x86_64-pc-windows-msvc-release/nobodywho-unity-x86_64-pc-windows-msvc-release.pdb ./nobodywho/unity/src/Runtime/Plugins/x86_64-pc-windows-msvc/nobodywho_unity.pdb 

          # This is required for the package to be added to the package manager (Packages is just an accepted unity-project path )
          mkdir -p dist/package
          mv ./nobodywho/unity/src/* dist/package
          # remove tests from package
          rm -rf dist/package/Tests


      - name: Test .meta-files # this just ensures that there are actually .meta files for all of our relevant files. 
        uses: natsuneko-laboratory/create-unitypackage@v3
        with:
          root: dist/
          files-glob: "dist/package/**/*.{cs,meta,unity,rtf,rtf.meta,dll,dylib,pdb,so,asmdef}"
          dest: ./nobodywho.unitypackage

      - name: Create Unity Package
        working-directory: ./dist
        run: tar -czf "../nobodywho-unity-upm.tgz"  "package"

      - name: Upload Unity UPM Tarball Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nobodywho-unity-upm-tarball
          path: ./nobodywho-unity-upm.tgz

  collect-legacy-cpu-binaries:
    runs-on: ubuntu-24.04
    steps:
      - name: "Download no-avx2 build artifacts"
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: "Collect legacy Unity binaries"
        run: |
          mkdir -p legacy-unity-binaries
          
          # Copy no-avx2 Unity binaries only
          find ./artifacts -name "*unity*no-avx2*" -type f -exec cp {} legacy-unity-binaries/ \;

      - name: "Upload legacy Unity binaries"
        uses: actions/upload-artifact@v4
        with:
          name: nobodywho-unity-legacy-binaries
          path: ./legacy-unity-binaries

  create-github-release-godot:
    needs: [godot-distributable]
    if: startsWith(github.ref, 'refs/tags/nobodywho-godot-')
    runs-on: ubuntu-24.04
    steps:
      - name: "Download build artifacts"
        uses: actions/download-artifact@v4
        with:
          name: nobodywho-godot-all-platforms
          path: ./nobodywho-release-godot

      - name: "Make zip file"
        working-directory: ./nobodywho-release-godot
        run: zip -r "../nobodywho-godot-${{ github.ref_name }}.zip" ./**

      - name: "Create GitHub Release"
        uses: softprops/action-gh-release@v4
        with:
          files: "./nobodywho-godot-${{ github.ref_name }}.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  create-github-release-unity:
    needs: [unity-distributable, collect-legacy-cpu-binaries]
    if: startsWith(github.ref, 'refs/tags/nobodywho-unity-')
    runs-on: ubuntu-24.04
    steps:
      - name: "Download Unity Package"
        uses: actions/download-artifact@v4
        with:
          name: nobodywho-unity-upm-tarball
          path: ./nobodywho-unity-release

      - name: "Download Legacy Unity Binaries"
        uses: actions/download-artifact@v4
        with:
          name: nobodywho-unity-legacy-binaries
          path: ./nobodywho-unity-release

      - name: "Create GitHub Release"
        uses: softprops/action-gh-release@v1
        with:
          files: ./nobodywho-unity-release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
