name: "Test"
on:
  workflow_call:
    secrets:
      CACHIX_AUTH_TOKEN:
        required: true


jobs:


  flutter-doc-tests-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Generate doctest file
        working-directory: nobodywho/flutter/nobodywho
        run: dart run tool/doctest.dart ../../../docs/markdown/flutter --generate-only

      - name: Check if generated tests are up to date
        run: |
          if git diff --exit-code nobodywho/flutter/nobodywho/test/doctest_generated_test.dart; then
            echo "✅ Generated doctests are up to date"
          else
            echo "❌ Generated doctests are out of date!"
            echo ""
            echo "Please run the following command and commit the changes:"
            echo "  cd flutter/nobodywho && dart run tool/doctest.dart ../../../docs/markdown/flutter --generate-only"
            exit 1
          fi



  # cachix actions as per these docs:
  # https://nix.dev/guides/recipes/continuous-integration-github-actions
  nix-flake-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 360
    steps:
      - name: Check that Cachix Token is set
        run: |
          if [ -z "${{ secrets.CACHIX_AUTH_TOKEN }}" ]; then
            echo "❌ Token is empty!"
          else
            echo "✅ Token exists (length: ${#CACHIX_AUTH_TOKEN})"
          fi
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: nobodywho
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          # verbose! debug debug
          cachixArgs: "--verbose -j8"

      - name: "nix flake check"
        run: |
          nix --extra-experimental-features nix-command --extra-experimental-features flakes flake check -L --max-jobs 1
