name: "Test"
on:
  workflow_call:
    secrets:
      CACHIX_AUTH_TOKEN:
        required: true

jobs:
  # cachix actions as per these docs:
  # https://nix.dev/guides/recipes/continuous-integration-github-actions
  nix-flake-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 360
    steps:
      - name: Check that Cachix Token is set
        run: |
          if [ -z "${{ secrets.CACHIX_AUTH_TOKEN }}" ]; then
            echo "❌ Token is empty!"
          else
            echo "✅ Token exists (length: ${#CACHIX_AUTH_TOKEN})"
          fi
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: nobodywho
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          # verbose! debug debug
          cachixArgs: "--verbose -j8"

      - name: "nix flake check"
        run: |
          nix --extra-experimental-features nix-command --extra-experimental-features flakes flake check -L --max-jobs 1

      - name: "test nix android environment can compile flutter app"
        run: |
          export NOBODYWHO_FLUTTER_LIB_PATH="$(nix build '.#flutter_rust^lib' --print-out-paths)/lib/libnobodywho_flutter.so"
          cd nobodywho/flutter/example_app
          nix develop '.#android' --command flutter build apk
