name: "Test"
on:
  workflow_call:

jobs:
  nix-flake-check:
    runs-on: ubuntu-24.04
    container: ubuntu:noble
    steps:
      - uses: actions/checkout@v4
      - name: "Install distro dependencies"
        run: |
          apt-get update
          apt-get install -y sqlite3 curl xz-utils sudo # ...needed to install nix
      - name: Install Nix
        shell: bash  # Explicitly use bash
        run: |
          curl -L https://nixos.org/nix/install > install.sh
          bash install.sh --no-daemon
      - name: Restore and cache Nix store
        uses: nix-community/cache-nix-action@v5
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          gc-max-store-size-linux: 10000000000
          # do purge caches
          purge: true
          # purge all versions of the cache
          purge-prefixes: cache-${{ runner.os }}-
          # created more than this number of seconds ago relative to the start of the `Post Restore` phase
          purge-created: 0
          # except the version with the `primary-key`, if it exists
          purge-primary-key: never
      - name: "nix flake check"
        run: |
          . ~/.nix-profile/etc/profile.d/nix.sh
          nix --extra-experimental-features nix-command --extra-experimental-features flakes flake check -L
