name: "Test"
on:
  workflow_call:
    secrets:
      UNITY_EMAIL:  
        required: true
      UNITY_PASSWORD:
        required: true
      UNITY_LICENSE:
        required: true
      CACHIX_AUTH_TOKEN:
        required: true

jobs:
  # cachix actions as per these docs:
  # https://nix.dev/guides/recipes/continuous-integration-github-actions
  nix-flake-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 360
    steps:
      - name: Check that Cachix Token is set
        run: |
          if [ -z "${{ secrets.CACHIX_AUTH_TOKEN }}" ]; then
            echo "❌ Token is empty!"
          else
            echo "✅ Token exists (length: ${#CACHIX_AUTH_TOKEN})"
          fi
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: nobodywho
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          # verbose! debug debug
          cachixArgs: "--verbose -j8"

      - name: "nix flake check"
        run: |
          nix --extra-experimental-features nix-command --extra-experimental-features flakes flake check -L --max-jobs 1

  run-unity-test:
    # XXX: temporarily disable unity integration test
    # it was always failing due to a licensing fail
    # I think norsker was working on fixing the unity licensing stuff
    # apparently it's more difficult than it should be
    if: false
    name: Unity Test
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # ---------- MODELS ----------
    - name: Cache GGUF models
      uses: actions/cache@v3
      with:
        path: nobodywho/unity/src/Runtime/StreamingAssets
        key: gguf-${{ hashFiles('models.lock') }}
        restore-keys: gguf-

    - name: Download models (if cache miss)
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        mkdir -p nobodywho/unity/src/Runtime/StreamingAssets
        curl -L --fail --progress-bar https://huggingface.co/unsloth/Qwen3-0.6B-GGUF/resolve/main/Qwen3-0.6B-UD-Q6_K_XL.gguf \
          -o nobodywho/unity/src/Runtime/StreamingAssets/Qwen3-0.6B-UD-Q6_K_XL.gguf
        curl -L --fail --progress-bar https://huggingface.co/CompendiumLabs/bge-small-en-v1.5-gguf/resolve/main/bge-small-en-v1.5-q8_0.gguf \
          -o nobodywho/unity/src/Runtime/StreamingAssets/bge-small-en-v1.5-q8_0.gguf
    - name: Copy models to TempProject
      run: |
        mkdir -p TempProject/Assets/StreamingAssets
        cp nobodywho/unity/src/Runtime/StreamingAssets/Qwen3-0.6B-UD-Q6_K_XL.gguf TempProject/Assets/StreamingAssets/Qwen3-0.6B-UD-Q6_K_XL.gguf
        cp nobodywho/unity/src/Runtime/StreamingAssets/bge-small-en-v1.5-q8_0.gguf TempProject/Assets/StreamingAssets/bge-small-en-v1.5-q8_0.gguf

    # ---------- RUST ----------
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: "Install distro dependencies"
      run: |
        sudo apt-get update
        sudo apt-get install -y libclang-dev cmake libshaderc-dev libvulkan-dev glslc

    - name: Cache Cargo
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          nobodywho/target
        key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

    - name: Build testable
      run: |
        cargo build -p nobodywho-unity --release --locked
        mv target/release/libnobodywho_unity.so unity/src/Runtime/Plugins/x86_64-unknown-linux-gnu/libnobodywho_unity.so

      working-directory: nobodywho

    # ---------- UNITY ----------
    - name: Run PlayMode tests
      uses: game-ci/unity-test-runner@v4
      env:
        UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
        UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        ACTIONS_STEP_DEBUG: true
      with:
        packageMode: true
        projectPath: nobodywho/unity/src
        testMode: playmode
        unityVersion: 6000.0.47f1
        customImage: emilnorsker/nobodywho-unity-ci:latest
        checkName: Unity Test Results

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Unity Test Results
        path: artifacts/playmode-results.xml
